/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * incangold implementation : © Antonio Soler <morgald.es@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * incangold.css
 *
 * incangold stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (incangold_incangold.tpl), and to HTML elements you create dynamically
    (in incangold.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

h2.fieldHeader {
    text-align: center;
}

#templetable{width:400px;
	height:388px;
	float:left;
	border-collapse: collapse;
	border:1}

#templecard1{
    background-image: url('img/temple-off.png');
    background-repeat: no-repeat;    
    background-position: left bottom
	}
#templecard2{
    background-image: url('img/temple-off.png');
    background-repeat: no-repeat;    
    background-position: right bottom
	}
#templecard3{
    background-image: url('img/temple-off.png');
    background-repeat: no-repeat;    
    background-position: left center
	}
#templecard4{
    background-image: url('img/temple-off.png');
    background-repeat: no-repeat;
    background-position: right center
	}
#templecard5{
    background-image: url('img/temple-off.png');
    background-repeat: no-repeat;
    background-position: right top
	}

.on{
    background-image: url('img/temple-on.png')!important;
	}
	
.fields {
    min-height: 200px !important;
    width: 300px;
    float: left;
    margin: 5px;
    padding: 10px;
    padding-top: 5px;
}

.hidden {
    display: none;
}

#info {
    width: 260px;
    height: 190px;
}

.whiteblock {
    position: relative;
    min-height: 100px;
    border-radius: 10px;
}

.card {
    background-image: url('img/cards.jpg'); 
}

.gameArt {
    width: 200px;
    height: 139px;
    background-image: url('img/incangold.jpg');
    margin-bottom: 0px;
}

.gem {
    width: 30px;
    height: 30px;
    background-image: url('img/gem.png');
	background-repeat: no-repeat;
	margin: 6px;
	float: right;
	font: normal normal bold 19px/1 Arial, Helvetica, sans-serif;
    color: rgba(1,1,1,1);
    text-align: center
	}

.tent {
    width: 150px;
    height: 121px;
	margin: 10px
	float: right;
	line-height: 60px; /* <-- this is what you must define */
    vertical-align: middle;
    background-image: url('img/tent.png');
	background-repeat: no-repeat;
	font: normal normal bold 19px/1 Arial, Helvetica, sans-serif;
    color: rgba(1,1,1,1);
    text-align: center
	}	
	
.votecard {
    width: 115px;
    height: 180px;
	float: left;
    background-image: url('img/vote-cards.jpg');
	background-position: left top
	background-repeat: no-repeat
	}
	
.votecardExplore {
	background-position: center top !important;
	}

.votecardLeave {
	background-position: right top !important;
	}	

#table_wrap{
    width: 100%;
	}

.stockitem {
    margin: 10px  
}	

.table {
    padding: 10px;
    width: 100%;
    height: 270px; 
}
