/**
 *------
 * BGA framework: Ãƒâ€šÃ‚Â© Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * incangold implementation : Ãƒâ€šÃ‚Â© Antonio Soler <morgald.es@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * incangold.css
 *
 * incangold stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (incangold_incangold.tpl), and to HTML elements you create dynamically
    (in incangold.js).
    
    Usually, you are using CSS to:
    
    1) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

#playArea{
	width:100%	
	}
	
.templediv{
	width:400px;
	height:388px;	
	margin:10px
	}

.templeclass{
	width:400px;
	height:388px;
	border-collapse: collapse;
	}

#templecell{
    vertical-align: top;
	}

.templecard{
    height:129px;
    /* width: 180px; */
    background-image: url('img/temple-off.png');
    background-repeat: no-repeat;
    border-radius: 10px;
    /* box-shadow: 2px 3px 3px 2px rgba(59, 59, 59, 0.58); */
}	
		
.t1{        
    background-position: left bottom
	}
.t2{
    background-position: right bottom
	}
.t3{
    background-position: left center
	}
.t4{
	background-position: right center
	}
.t5{    
    background-position: center top;
    width: 50%;
 }

.tspacer{
	width: 100px;
}

.on{
    background-image: url('img/temple-on.png')!important;
	}

	
.fields {
    min-height: 200px !important;
    width: 280px;
    float: left;
    margin: 5px;
    padding: 10px;
    padding-top: 5px;
}
.tablecamp {
    width: 100%;
    height: 200px;
}
.hidden {
    display: none;
}

#info {
    width: 260px;
    height: 190px;
}

.whiteblock {
    min-height: 100px;
    border-radius: 10px;
    /* position: relative; */
}

.card {
    background-image: url('img/cards.jpg'); 
}

.gameArt {
    width: 200px;
    height: 139px;
    background-image: url('img/incangold.jpg');
    margin-bottom: 0px;
}

.gem {
    width: 30px;
    height: 30px;
    margin: 3px;
    margin-left: auto;
    background-image: url('img/gem.png');
    background-repeat: no-repeat;
}

.gemfield {
    width: 30px;
    height: 30px;
    background-image: url('img/gem.png');
    background-repeat: no-repeat;
    margin: 6px;
    padding: 0px;
    float: right;
    font: normal normal bold 19px/1 Arial, Helvetica, sans-serif;
    color: rgba(1,1,1,1);
    text-align: center;
 }

.tent {
    width: 150px;
    height: 121px;
    display: table-cell;
    background-image: url('img/tent.png');
    background-repeat: no-repeat;
    text-align:center;
    vertical-align: middle;
    z-index: 10;
    font: normal normal bold 19px/1 Arial, Helvetica, sans-serif;
    color: rgba(1,1,1,1);
 }	
 
.tentholder{
 padding: 5px;
 width: 160px;
 height: 121px;
 display: table-cell;
 vertical-align: middle;
 position: relative;
 text-align: center;
}
 
.gemtent {
    width: 150px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
    background-image: url('img/gem.png');
    background-repeat: no-repeat;
    background-position: top center;
    text-align:center;
    z-index: 9;
    font: normal normal bold 19px/1 Arial, Helvetica, sans-serif;
    color: rgba(1,1,1,1);
 }
	
.cardback {
    width: 115px;
    height: 180px;
	position:absolute;
    background-image: url('img/vote-cards.jpg');
	background-repeat: no-repeat;
	background-position: left top
	}
	
.votecardExplore {
	width: 115px;
	height: 180px;
	position:absolute;
	background-image: url('img/vote-cards.jpg');
	background-repeat: no-repeat;
	border-radius: 8px;
	background-position: center top !important;
	box-shadow: 3px 5px 3px 2px rgba(59, 59, 59, 0.58);
	}

.votecardLeave {
	width: 115px;
    height: 180px;
	position:absolute;
    background-image: url('img/vote-cards.jpg');
	background-repeat: no-repeat;
	border-radius: 4px;
	background-position: right top !important;
	box-shadow: 3px 5px 3px 2px rgba(59, 59, 59, 0.58);
	}	

.votecardBack {
    width: 115px;
    height: 180px;
    position:absolute;
    background-image: url('img/vote-cards.jpg');
    background-repeat: no-repeat;
    border-radius: 4px;
    background-position: left top;
    box-shadow: 3px 5px 3px 2px rgba(59, 59, 59, 0.58);
 }

#deck {
    width: 159px;
    height: 247px;
    background-image: url('img/card-back.jpg');
    border-radius: 7px;
    background-size: cover;
    display: inline;
    margin: 15px;
    flex: 0 1 auto;
    box-shadow: -1px 1px 0px 1px rgb(59, 59, 59), -3px 7px 0px 1px rgba(0, 0, 0, 1), -5px 9px 0px 1px rgb(59, 59, 59), -9px 15px 0px 1px rgba(0, 0, 0, 1), -11px 18px 0px 1px rgb(59, 59, 59), -14px 22px 0px 1px rgba(0, 0, 0, 1), 3px 18px 3px 11px rgba(0, 0, 0, 0.58);
 }
 
#table_wrap {
	display: inline-flex;
	width: 95%;
}

#tablecards{
	min-width:50%;
	flex: 1 1 auto;
}

.cardholder {
	width: 115px;
	height: 180px;
	display: table-cell;
	}
	
.artifacticon {
	margin-left: 4px;
	float:left;
	background-image: url('img/artifact.jpg');
	background-repeat: no-repeat;
	width: 22px;
	height: 35px;
	}

.stockitem {
    margin:10px;
    display: inline-table;
    border-radius: 10px;
    box-shadow: 3px 5px 3px 2px rgba(59, 59, 59, 0.58);
}

.animatedcard{	
	animation-name: shrink;
    animation-duration: 0.5s;
    transform: scale(1);
	-webkit-animation: shrink 0.5s;
}

/* Standard syntax */
@keyframes shrink {
	from{transform: scale(1)}
	to {transform: scale(0.2) }
}
@-webkit-keyframes shrink {
	from{transform: scale(1)}
	to {transform: scale(0.2) }
}

.spining{	
	animation: spin 0.5s infinite;
	-webkit-animation: spin 0.5s infinite;
	transform: rotate(1deg);
}

/* Standard syntax */
@keyframes spin {
	from{transform: rotate(1deg)}	
	to {transform: rotate(359deg) }
}

@-webkit-keyframes spin {
	
	from{transform: rotate(1deg)}	
	to {transform: rotate(359deg) }
	}

